.container {
	align-self: center;
	width: min(100% - 3rem, 40rem);
	margin-inline: auto;
	background: transparent;
	padding: var(--space-s);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);

	@media screen and(min-width: 600px) {
		& {
			flex-direction: row;
		}
	}
}

.formContainer{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-m);

}

.intro{
width: 100%;
text-align: center;
}

.title {
	font-family: inherit;
	color: var(--accent);
	/* margin-bottom: var(--space-m); */
	padding-inline:  var(--space-xs);
}

.details{
    font-size: var(--fontSize-0);
	font-weight: 500;
	line-height: 1.1;
	color: var(--dark-1);
	padding-inline:  var(--space-xs);
}

.error {
	color: var(--error);
}
