.header {
	container-type: inline-size;
	width: 100%;
	height: 3rem;
	display: flex;
	justify-content: space-between;
	gap: var(--space-xs);
	padding: 0.2rem 1rem;
	/* background-color: var(--accent);
	background: no-repeat center/cover url('src/shared/assets/header.svg'); */
}

/* @container (min-width: 900px) {
	.header {
		background: no-repeat center/cover url('src/shared/assets/M-layered-waves-haikei.svg');
	}
}

@container (min-width: 1200px) {
	.header {
		background: no-repeat center/cover url('src/shared/assets/L-layered-waves-haikei.svg');
	}
} */
.nav {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.logoWrapper {
	padding: 0.5rem;
}
.logo {
	font: var(--fontSize-3) bold;
	color: var(--accent-1);
	text-shadow: 0.05rem 0.05rem 0.05rem #7ac8dfb6;
}
.headerRight {
	display: flex;
	align-items: center;
	color: var(--light);
	font-size: var(--fontSize-1);
	font-weight: 500;
}
.link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-3xs);
	cursor: pointer;
	background-color: transparent;

	&:hover,
	:focus {
		color: var(--light-1);
	}

	.active {
		color: var(--accent);
	}

	& .svg:hover,
	:focus {
		stroke: var(--light-1);
	}

	.svg:focus {
		stroke: var(--accent-2);
	}
}
.svg {
	width: var(--fontSize-0);
	height: var(--fontSize-0);
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	stroke: var(--light);
	cursor: pointer;
	fill: none;
}
