

.wrapper {
	margin-inline: auto;
	background: transparent;
	padding: var(--space-s);
	width: min(100% - 3rem, 60ch);
	display: flex;
	flex-flow: column;
	align-items: center;
}

.registerSection {
	background: transparent;
}

.linkItem{
	font-size: var(--fontSize-1);
	margin-top: var(--space-xs);
	text-align: left;
}
.link{
	color: var(--accent-2);
	padding-left: var(--space-xs);

}
