.formControl {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	gap: var(--space-3xs);
	margin-bottom: var(--space-xs);
	font-size: var(--fontSize-1);

	&:last-child {
		margin-top: var(--space-l);
	}
}

.label {
	color: var(--light-1);
	font-weight: 500;
	font-size: var(--fontSize-0); 
}

.error {
	color: var(--error);
}

.wrapper {
	width: 100%;
	display: inline-flex;
	align-items: center;
	border: none;
	background-color: var(--light);
	box-shadow: 0.05rem 0.1rem 0.1rem 0.05rem var(--shadow);

	&:hover {
		border-bottom: 0.1em solid var(--accent-2);
	}
}

.input {
	height: 2rem;
	width: 100%;
	color: var(--accent);
	background-color: var(--light);
	padding: var(--space-3xs);
	filter: none;
}

.btn {
	color: var(--accent);

	&:hover,
	:focus,
	:focus-visible,
	:active {
		background-color: var(--light);
	}
}

.svg {
	width: 20px;
	height: 20px;
	padding: 0;
	padding-right: 0.2rem;
	margin: 0;
	border: none;
	background-color: transparent;
	stroke: var(--light-2);
	cursor: pointer;
	fill: none;

	&:hover,
	:active,
	:focus {
		border: none;
		stroke: var(--accent-2);
	}
}
