.container {
  align-self: center;
  width: min(100% - 3rem, 40rem);
  margin-inline: auto;
  background: transparent;
  padding: var(--space-s);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.title {
  font-family: inherit;
  color: var(--accent);
  margin-bottom: var(--space-m);
  text-align: center;
  padding-inline: var(--space-xs);
}
