.section {
	margin-top: var(--space-xs);
	margin-bottom: var(--space-xs);
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}

.fieldArray {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	margin: 0;
}

.title {
	font-family: inherit;
	color: var(--accent);
	margin-bottom: var(--space-m);
	padding-inline: var(--space-xs);
}

.error {
	color: var(--error);
}

.legend {
	color: var(--accent-2);
}

.fieldset {
	width: 100%;
	border: 0.01rem solid #d5e1f5;
	box-shadow: 0.05rem 0.1rem 0.1rem 0.05rem var(--shadow);
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}

.item {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.skillItem {
	display: flex;
	align-items: center;
	padding-block: var(--space-2xs);
}

.nameItem {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);

	@media (min-width: 640px) {
		& {
			flex-direction: row;
		}
	}
}
.dateItem {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-xs);

	@media (min-width: 480px) {
		& {
			flex-direction: row;
		}
	}
}

.contactItem {
	display: grid;
	grid-template-columns: minmax(0, 1fr);

	@media (min-width: 640px) {
		& {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			column-gap: var(--space-s);
		}
	}
}

.check {
	align-self: flex-end;
	display: flex;
	padding-bottom: 0.2rem;

	& > input:checked {
		accent-color: var(--accent-2);
	}
}

.languageItem {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.fitem,
.fitem50 {
	width: 100%;
	display: flex;
	align-items: center;
	gap: var(--space-xs);
	padding-top: 0.1rem;
}
.fitem {
	align-items: baseline;
}

.fitem70 {
	width: 100%;
	display: flex;
	align-items: baseline;
	gap: var(--space-xs);
}

.fitem70:first-child {
	width: 80%;
}

.label {
	font-weight: 500;
	color: var(--light-1);
	font-size: var(--fontSize-0);
}

.input {
	height: 2rem;
	width: 100%;
	color: var(--accent);
	background-color: var(--light);
	padding: var(--space-3xs);

	&:hover,
	:focus,
	:focus-visible,
	:active {
		border-bottom: 0.1em solid var(--accent-2);
	}
}
.downBtn,
.trash {
	align-self: flex-end;
}

.svg {
	width: var(--fontSize-0);
	height: var(--fontSize-0);
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	stroke: var(--light-1);
	cursor: pointer;
	fill: none;

	&:hover,
	:focus {
		stroke: var(--accent-2);
	}

	&:active {
		stroke: var(--accent-1);
	}
}

.collapsed {
	padding: var(--space-xs);
	display: flex;
	justify-content: space-between;
}

.plusBtn {
	width: 100%;
	font-weight: 700;
	font-size: var(--fontSize-0);
	color: var(--light);
	text-transform: uppercase;
	background-color: #3f576e;
	padding: var(--space-2xs) var(--space-xs);
	cursor: pointer;
	border: none;
	box-shadow: 0.1rem 0.1rem 0.3rem var(--shadow-1);
	transition: all 0.5s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2xs);

	&:hover,
	:active,
	:focus {
		opacity: 80%;
		color: var(--light-1);
	}
}

.plus {
	composes: svg;
	align-self: center;
	stroke: var(--light);

	&:hover,
	:focus {
		stroke: var(--accent-1);
	}

}
