.section {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	margin-top: var(--space-xs);
	margin-bottom: var(--space-xs);
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
}

.fieldArray {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	margin: 0;
}


.details{
    font-size: var(--fontSize-0);
	font-weight: 500;
	line-height: 1.1;
	color: var(--dark-1);
	padding-inline:  var(--space-xs);
}


.title {
	text-align: center;
	font-family: inherit;
	color: var(--accent);
	margin-bottom: var(--space-m);
	padding-inline: var(--space-xs);
}

.error {
	color: var(--error);
}

.loading {
	color: var(--accent-2);
}

.collapsed {
	display: flex;
	justify-content: space-between;
	padding: var(--space-xs);
	color: var(--accent);
	font-weight: 500;
	font-size: var(--fontSize-0);
}

.legend {
	color: var(--accent-2);
	font-weight: 600;
}

.fieldset {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);
	border: 0.01rem solid #d5e1f5;
	box-shadow: 0.05rem 0.1rem 0.1rem 0.05rem var(--shadow);
}

.item {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.nameItem {
	composes: item;

	@media (min-width: 640px) {
		& {
			flex-direction: row;
		}
	}
}
.dateItem {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--space-xs);

	@media (min-width: 480px) {
		& {
			flex-direction: row;
		}
	}
}

.contactItem {
	display: grid;
	grid-template-columns: minmax(0, 1fr);

	@media (min-width: 640px) {
		& {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			column-gap: var(--space-s);
		}
	}
}
.languageItem {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.skillItem {
	display: flex;
	align-items: center;
	gap: var(--space-s);
	padding: var(--space-2xs);
}

.addressItem {
	width: 100%;
	display: flex;
	align-items: baseline;
	gap: var(--space-xs);

	& :first-child {
		width: 80%;
	}
}

.check {
	align-self: center;
	display: flex;
	padding-top: 0.6rem;

	& > input:checked {
		accent-color: var(--accent-2);
	}
}

.imgFieldset {
	composes: fieldset;
	width: max-content;
}
.imgItem {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-m);
}
.imgLabel {
	color: var(--light-1);
	font-weight: 500;
	font-size: var(--fontSize-0);
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.img {
	width: 5.5rem;
	height: 6rem;
	box-shadow: 0.05rem 0.1rem 0.1rem 0.05rem var(--shadow);
}
/* styles for icons*/
.svg {
	width: var(--fontSize-1);
	height: var(--fontSize-1);
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;
	stroke: var(--light-1);
	cursor: pointer;
	fill: none;

	&:hover,
	:focus {
		stroke: var(--accent-2);
	}

	&:active {
		stroke: var(--accent-1);
	}
}

.plus {
	composes: svg;
	align-self: center;
	stroke: var(--light);

	&:hover,
	:focus {
		stroke: var(--accent-1);
	}
}
.person {
	composes: img;
	stroke: var(--light-1);
	fill: none;
}

.downBtn,
.trash {
	align-self: flex-end;
}

.label {
	font-weight: 500;
	color: var(--light-1);
	font-size: var(--fontSize-0);
}

/* .input {
	height: 2rem;
	width: 100%;
	color: var(--accent);
	background-color: var(--light);
	padding: var(--space-3xs);

	&:hover,
	:focus,
	:focus-visible,
	:active {
		border-bottom: 0.1em solid var(--accent-2);
	}
}
 */
