.intro{
width: 100%;
text-align: center;
}

.title {
	font-family: inherit;
	color: var(--accent);
	margin-bottom: var(--space-m);
	padding-inline:  var(--space-xs);
}

.details{
    font-size: var(--fontSize-0);
	font-weight: 500;
	line-height: 1.1;
	color: var(--dark-1);
	padding-inline:  var(--space-xs);
}

.error {
	color: var(--error);
}